.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLeft,
.headerRight {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 80px;
}

.headerRight {
  margin-left: auto;
}

.searchbar {
  width: 280px;
}

@media (max-width: 599px) {
  .headerLeft {
    align-items: flex-start;
    flex-direction: column;
    height: 140px;
    position: relative;
    width: 100%;
    gap: 20px;
  }

  .searchcontainer {
    width: 100%;
  }

  .searchbar {
    width: calc(100% - 5px);
  }

  .header img {
    margin-left: -10px;
  }

  /* change to absolute and place searchbar with full width */
  .headerRight {
    position: absolute;
    top: -12px;
    right: 20px;
  }

  .chip {
    right: 80px;
  }
}
